.bg-dirty-purple {background-color: rgb(63, 154, 207);}
.btn-dirty-purple 
{ 
  color: #c8c7db;
  background-color: rgb(66, 101, 218);
}
.btn-dirty-purple:hover 
{
  color: #d0bbdf;
  text-decoration: none;
}
.desc {height: 20em;}
.welcome {
  height: 40em;
  padding: 100px 100px 100px 100px;
}