{% extends "base.html" %}

{% block title %}賴田捕手{% endblock %}

{% block main %}
<div class="jumbotron">
  <h1 class="display-4">Convolutional Neural Networks！</h1>
  <p class="lead">This chapter introduces convolutional neural networks (CNNs)</p>
  <hr class="my-4">
  <p>CNN-based architectures are now ubiquitous in the field of computer vision, and have become so dominant that hardly anyone today would develop a commercial application or enter a competition related to image recognition, object detection, or semantic segmentation, without building off of this approach.</p>
  <a class="btn-dirty-purple btn-lg" href="#" role="button">了解更多</a>
</div>
<div class="container">
  <div class="row desc">
  <div class="col">
    <h2><i class="fas fa-kiwi-bird"></i>  AlexNet</h2>
    <p>AlexNet, which employed an 8-layer CNN, won the ImageNet Large Scale Visual Recognition Challenge 2012 by a phenomenally large margin. This network showed, for the first time, that the features obtained by learning can transcend manually-designed features, breaking the previous paradigm in computer vision.</p>
    </div>
  <div class="col">
      <h2><i class="fas fa-smile-wink"></i>  ResNet</h2>
    <p>At the heart of their proposed residual network (ResNet) is the idea that every additional layer should more easily contain the identity function as one of its elements. These considerations are rather profound but they led to a surprisingly simple solution, a residual block. With it, ResNet won the ImageNet Large Scale Visual Recognition Challenge in 2015. The design had a profound influence on how to build deep neural networks.</p>
    </div>
  <div class="col">
      <h2><i class="fas fa-leaf"></i>  DenseNet</h2>
    <p>In terms of cross-layer connections, unlike ResNet, where inputs and outputs are added together, DenseNet concatenates inputs and outputs on the channel dimension. The main components that compose DenseNet are dense blocks and transition layers. We need to keep the dimensionality under control when composing the network by adding transition layers that shrink the number of channels again.</p>
    </div>
  </div>
</div>

{% endblock %}